@import "tailwindcss";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #e0e5ec !important;
  color: rgb(51 65 85);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::selection {
  background-color: #f97316;
  color: #0f172a;
}

section {
  scroll-margin-top: -10px
}

:focus-visible {
  outline: 3px solid #2563eb;
  outline-offset: 3px;
  border-radius: 6px;
  transition: outline-offset 0s;
}

input:focus,
textarea:focus {
  outline: none !important;
}

input:focus-visible,
textarea:focus-visible {
  outline: none !important;
}

@keyframes subtle-move {
  0% { background-position: 0 0; }
  100% { background-position: 14px 14px; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes subtle-pulse {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
.animate-subtle-pulse {
  animation: subtle-pulse 3s ease-in-out infinite alternate;
}

.fade-in-on-load {
  opacity: 0;
  animation: fadeIn 0.1s ease-out forwards;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e5ec;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 20px;
  border: 3px solid #e0e5ec;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #155DFC;
}

.modal-open-neumorphism {
    background-color: #e0e5ec !important;
}

button, a {
  touch-action: manipulation;
}

.modal-open-neumorphism {
    overflow: hidden;
}