@import "tailwindcss";

@tailwind preflight;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #e0e5ec !important;
  color: rgb(51 65 85);
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::selection {
  background-color: #f97316;
  color: #0f172a;
}

section {
  scroll-margin-top: -10px
}

:focus-visible {
  outline: 3px solid #2563eb;
  outline-offset: 3px;
  border-radius: 6px;
  transition: outline-offset 0s;
}

input:focus,
textarea:focus {
  outline: none !important;
}

input:focus-visible,
textarea:focus-visible {
  outline: none !important;
}

@keyframes subtle-move {
  0% { background-position: 0 0; }
  100% { background-position: 14px 14px; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes subtle-pulse {
  0% { opacity: 0; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
.animate-subtle-pulse {
  animation: subtle-pulse 3s ease-in-out infinite alternate;
}

.fade-in-on-load {
  opacity: 0;
  animation: fadeIn 0.1s ease-out forwards;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e5ec;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 20px;
  border: 3px solid #e0e5ec;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #155DFC;
}

button, a {
  touch-action: manipulation;
}

.modal-open-neumorphism {
  background-color: #e0e5ec !important;
  overflow-y: auto;
}

@media (max-width: 767px) {
  .modal-open-neumorphism {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow-y: scroll;
  }
}

@keyframes shake {
  10%, 90% { transform: translateX(-1px); }
  20%, 80% { transform: translateX(2px); }
  30%, 50%, 70% { transform: translateX(-4px); }
  40%, 60% { transform: translateX(4px); }
}

@layer utilities {
  .animate-shake {
    animation: shake 300ms ease-in-out;
  }
}
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25%); }
}

button,
input[type="submit"],
a,
label {
  -webkit-user-select: none;   /* Safari / iOS */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* Standard */

  -webkit-tap-highlight-color: transparent; /* Elimină highlight la touch */
  touch-action: manipulation;  /* Gesturi touch simple */

  cursor: pointer;             /* Cursor pointer pe desktop */
  outline: none;               /* Elimină conturul la click (opțional) */
}

/* Dacă vrei, poți să dezactivezi selecția și pe textul general interactiv */
label, a, button, input[type="submit"] {
  -webkit-touch-callout: none; /* Dezactivează meniul contextual pe iOS */
}